.container{
  display: flex;
  margin-left: 45%;
}

.grid {
  width : 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
}

.grid div {
  width: 20px;
  height: 20px;
}

.tetromino {
  background-color: pink;
}

.score{
  margin-left: 45%;
}

.mini-grid{
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
  margin-left: 45px;
}

.mini-grid div{
  height: 20px;
  width: 20px;
}